.block-guide {
  @extend %container-md;

  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin: 4rem auto;

  &__header {
    text-align: center;

    a {
      @extend %font-secondary;

      font-weight: 300;
      color: var(--color-primary-400);
      text-decoration: none;
    }
  }

  &__table {
    &:has(.block-guide__row) {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }

    &:has(.block-guide__col) {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 2rem;

      @include up(md) {
        grid-template-columns: repeat(var(--cols, 5), 1fr);
      }
    }
  }

  &__row {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;

    @include up(sm) {
      flex-direction: row;
    }
  }

  &__col {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
  }

  &__code {
    @extend %radius-lg;

    position: relative;
    padding: 1rem;
    color: var(--color-primary-300);
    background-color: #1E2A39;

    pre {
      margin: 0;
      color: inherit;
    }

    &-header {
      display: flex;
      gap: 0.5rem;
      margin-top: -0.5rem;
      margin-bottom: 0.5rem;

      button {
        cursor: pointer;
        padding: 1rem 1.5rem;
        border: none;
        border-bottom: 1px solid var(--color-primary-700);
        color: var(--color-primary-700);
        background: transparent;

        &.-active {
          border-color: var(--color-primary-400);
          color: var(--color-primary-400);
        }
      }
    }

    &-content {
      overflow: scroll;
      padding: 1.5rem;
      font-size: 1.6rem;
    }

    &-copy {
      cursor: pointer;
      position: absolute;
      top: 1.5rem;
      right: 1.5rem;
    }
  }

  &__tooltip {
    @extend %text-xs;
    @extend %font-secondary;

    position: fixed;
    top: 1rem;
    left: 1rem;
    padding: 1rem 2rem;
    border-radius: var(--radius-md);
    color: var(--color-primary-50);
    background-color: var(--color-black);
  }
}
