:root {
  --font-primary: 'EBGaramond', sans-serif;
  --font-secondary: 'Manrope', serif;
  --container-full: 100dvw;
  --container-xxl: #{breakpoint(xxl)};
  --container-xl: #{breakpoint(xl)};
  --container-lg: #{breakpoint(lg)};
  --container-md: #{breakpoint(md)};
  --container-sm: #{breakpoint(sm)};
  --radius-full: 10rem;
  --radius-xxl: 1.5rem;
  --radius-xl: 1rem;
  --radius-lg: 0.75rem;
  --radius-md: 0.5rem;
  --radius-sm: 0.25rem;
  --color-white: #FFF;
  --color-primary-50: #F6F6F6;
  --color-primary-100: #E7E7E7;
  --color-primary-200: #D1D1D1;
  --color-primary-300: #B0B0B0;
  --color-primary-400: #888;
  --color-primary-500: #6D6D6D;
  --color-primary-600: #5D5D5D;
  --color-primary-700: #4F4F4F;
  --color-primary-800: #454545;
  --color-primary-900: #3D3D3D;
  --color-black: #000;
}
