@import
  'mixins',
  'modifiers',
  'variables',
  'fonts',
  'utilities';

html:has(.block-editor) {
  font-size: 10px;
}

body {
  .editor-sidebar {
    .acf-block-fields {
      .acf-field {
        width: 100% !important;
      }
    }
  }

  .wp-list-table {
    .media-icon {
      img {
        width: 60px !important;
        height: 60px !important;
        object-fit: cover;
      }
    }
  }
}
