@import
  'mixins',
  'modifiers',
  'variables',
  'fonts',
  'utilities',
  'overrides';

html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-size: 10px;
  -webkit-font-smoothing: antialiased;
}

body {
  @extend %font-primary;
  @extend %text-md;

  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-weight: 400;

  * {
    box-sizing: border-box;
  }
}
